fastapi
uvicorn
pydantic
python-dotenv
google-cloud-firestore
google-genai
playwright
google-auth-oauthlib
google-adk
google-api-python-client
firebase-admin>=6.5.0
fpdf2
google-cloud-storage
pdfplumber
python-docx
python-multipart